@font-face {
  font-family: "AvenirNextCyr-Demi";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Mont-Heavy";
  src: url("../fonts/mont/Mont-Heavy.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}
.blue {
  background-color: #2ab7fc !important;
}

h1 {
  font-family: "Mont-Heavy";
}

p {
  font-family: "AvenirNextCyr-Light";
  color: #696969;
}
h2 {
  font-family: "AvenirNextCyr-Bold";
}
h3 {
  font-family: "AvenirNextCyr-Medium";
  color: #696969;
}

a,
button {
  cursor: pointer !important;
}
.small-text {
  font-size: 13px;
}

.medium-text {
  font-size: 15px;
}
@media only screen and (max-width: 1300px) {
  .medium-text {
    font-size: 13px;
  }
}

@media only screen and (max-width: 960px) {
  .medium-text {
    font-size: 12px;
  }
}

.large-text {
  font-size: 20px;
}

.exlarge-text {
  font-size: 35px;
}

.white {
  background-color: #fff;
}

.grey {
  background-color: #fafafa;
}

.tiny-text {
  color: #bdbdbd;
}

.right {
  float: right;
}

.center {
  text-align: center !important;
}
/* =============================Top Nav=========================== */

.d-logo__img {
  width: 120px;
}
.d-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 500;
}

.d-top-nav::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.d-top-nav--solid {
  background-color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.d-menu--solid > a {
  color: #2ab7fc;
}

.d-menu--solid > a:hover {
  color: #045083;
}
.d-menu--solid--active {
  color: #045083 !important;
}

.d-top-nav--flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 20;
}

.m-logo {
  display: none;
}

.m-menu__icon {
  display: none;
}

.d-menu {
  padding-top: 15px;
  font-family: "AvenirNextCyr-Demi";
  font-size: 12px;
}

.d-menu__item {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.d-menu__item:hover {
  color: #fff200;
}

.d-menu__item--active {
  padding: 10px;
  text-decoration: none;
  color: #fff200;
}
.m-menu--hide {
  display: none;
}

/* =============================Header=========================== */

.d-header {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.m-header {
  display: none;
}

.d-header__background--left {
  z-index: 20;
  height: 0;
  padding-bottom: 50%;
  max-width: 20%;
  position: relative;
}

.d-header__text {
  position: absolute;
  top: 20%;
  width: 90%;
  left: 80%;
}

@media only screen and (max-width: 1086px) {
  .d-header__text--h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 986px) {
  .d-header__text--h1 {
    font-size: 20px;
  }
}

.d-header__text--h1 {
  color: #3f3f3f;
}

.d-header__text--p {
  padding-top: 20px;
  font-size: 13px;
  color: #696969;
}

.d-header__background--right {
  z-index: 1;
  max-width: 80%;
  min-width: 80%;
  flex: 5;
  position: relative;
}

.d-header__hero {
  position: absolute;
  left: 7%;
  top: 10%;
}

.d-header__hero--img {
  width: 80%;
}

.d-header__numbers {
  position: absolute;
  cursor: pointer;
}

.number__svg:hover .cls-circle {
  fill: #fff200 !important;
}
.d-header__numbers--1 {
  top: 46%;
  left: -5%;
}

.d-header__numbers--2 {
  top: 78%;
  left: 22%;
}
.d-header__numbers--3 {
  top: 65%;
  left: 62%;
}
.d-header__numbers--4 {
  top: 36%;
  left: 30%;
}
.d-header__numbers--5 {
  top: 12%;
  left: 58%;
}

.d-header__numbers--text {
  position: relative;
}

/* =============================Tooltip=========================== */
.d-header__numbers--1 .d-header__tooltip--text1,
.d-header__numbers--2 .d-header__tooltip--text2,
.d-header__numbers--3 .d-header__tooltip--text3,
.d-header__numbers--4 .d-header__tooltip--text4,
.d-header__numbers--5 .d-header__tooltip--text5 {
  visibility: hidden;
  text-align: left;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: -55px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.d-header__numbers--1:hover .d-header__tooltip--text1,
.d-header__numbers--2:hover .d-header__tooltip--text2,
.d-header__numbers--3:hover .d-header__tooltip--text3,
.d-header__numbers--4:hover .d-header__tooltip--text4,
.d-header__numbers--5:hover .d-header__tooltip--text5 {
  visibility: visible;
}
span.d-header__tooltip--text1,
span.d-header__tooltip--text2,
span.d-header__tooltip--text3,
span.d-header__tooltip--text4,
span.d-header__tooltip--text5 {
  position: absolute;
  line-height: 20px;
  padding: 10px 5px;
  font-size: 12px;
  width: 210px;
  color: #696969;
  top: 85px;
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  font-family: "AvenirNextCyr-Light";
  font-size: 10px;
  text-align: left;
  z-index: 300;
}

span.d-header__tooltip--text1::after,
span.d-header__tooltip--text2::after,
span.d-header__tooltip--text3::after,
span.d-header__tooltip--text4::after,
span.d-header__tooltip--text5::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: -23px;
  left: 85px;
}

/* =============================Search=========================== */

.d-search {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 100px 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.d-search__text {
  max-width: 45%;
}

.d-search__text--h1 {
  text-align: center;
  color: #3f3f3f;
}

.d-search__form {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 30px;
  color: #696969;
}

.d-search__form--input {
  width: 440px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px 20px;
  background-color: #f1f1f1;
  border: #f1f1f1;
  color: #696969;
}
.d-search_speech {
  width: 40px;
  padding: 10px 20px;
  color: #696969;
  margin-left: -50px;
  cursor: pointer;
}

.d-search_speech:hover {
  color: #f66269;
  cursor: pointer;
}

.d-search__form--btn {
  min-width: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px;
  margin-left: 10px;
  background-color: #f66269;
  border: #f66269;
  color: #fff;
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

.d-search__form--btn:hover {
  background-color: #2ab7fc;
  border: #2ab7fc;
  color: #fff;
  box-shadow: 0 5px 25px rgba(42, 183, 252, 0.68);
  transition: 0.5s;
}

/* =============================Work Section w/Slider=========================== */
.d-display {
  padding: 80px 40px;
  background-color: #fff;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-display__text--h1 {
  color: #3f3f3f;
}

.d-slider {
  margin: 30px 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-slider__slide {
  max-width: 80%;
  display: none;
  transition: height 1s, width 1s, padding 1s, visibility 1s,
    opacity 0.5s ease-out;
}

.d-slider__slide--img {
  max-width: 100%;
}

.d-slider__btn--prev,
.d-slider__btn--next {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin-bottom: 150px;
  font-size: 30px;
  background-color: #00aeef;
}

.d-slider__btn--next {
  padding: 8px 5px 10px 10px;
}

.d-slider__btn--prev {
  padding: 8px 13px 10px 10px;
}

/* On hover, add a black background color with a little bit see-through */
.d-slider__btn--prev:hover,
.d-slider__btn--prev:active,
.d-slider__btn--next:hover,
.d-slider__btn--next:active {
  background-color: #f66269;
}

/* Caption text */
.d-slider__slide--text {
  max-width: 750px;
  margin: 0 25px;
}

.d-slider__slide--h2 {
  margin-bottom: 30px;
}
.d-slider__slide--h2 > a {
  color: #f66269;
  margin-bottom: 30px;
  text-decoration: none;
}

.d-slider__slide--p {
  color: #696969;
  font-size: 13px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* =============================Footer=========================== */
.d-footer {
  bottom: 0;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.d-footer__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 80%;
}

.d-footer__content--textarea {
  color: #fff;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
  max-height: 50%;
}

.d-footer__text,
.d-footer__social,
.d-footer__contact {
  flex: 1;
  width: 20%;
  margin: 0 50px;
}

.d-footer__text > a {
  text-decoration: none;
}

.d-footer__social--icon {
  height: 8%;
}

.d-footer__text--h1,
.d-footer__social--icon {
  margin-bottom: 30px;
}

.d-footer__social--icon > a {
  text-decoration: none;
}

.d-footer__text--h3 {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #fff;
}

.d-footer__text--p {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #fff;
}
.d-footer__text--p:nth-last-child(1) {
  border-bottom: none;
}

.d-footer__social {
  margin-right: 0;
}

.d-footer__fa {
  margin-right: 5px;
  max-width: 8%;
}

.d-footer__social--contact,
.d-footer__contact--number {
  margin-bottom: 15px;
}

.d-footer__social--contact {
  font-size: 0.9em;
  color: #fff;
}

.d-footer__social--email a {
  color: #fff200;
  text-decoration: none;
}

.d-footer__contact--number a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

.d-footer__contact--number span {
  font-family: "AvenirNextCyr-Bold";
}

.d-footer__contact {
  margin-top: 65px;
  margin-left: 0;
}

.d-footer__svg {
  position: absolute;
  bottom: 0;
  left: 43%;
}

.d-footer__svg--img {
  max-width: 90%;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 986px) {
  .d-footer__svg--img {
    width: 40%;
  }
}

@media only screen and (max-width: 1186px) {
  .d-footer__svg--img {
    max-width: 60%;
  }
}

.d-footer__svg--img:hover {
  transform: scale(1.1);
}

.m-footer {
  display: none;
}

/* =============================About US=========================== */

.d-about__SVG--right {
  width: 85%;
  float: right;
}

.d-about__hero {
  position: absolute;
  left: 35%;
  top: 10%;
  z-index: 5;
}

.d-about__hero--img {
  max-width: 75%;
}

@media only screen and (max-width: 1160px) {
  .d-about__hero--img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 906px) {
  .d-about__hero {
    top: 15%;
  }
  .d-about__hero--img {
    max-width: 35%;
  }
}

.d-about {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 100px 0;
  flex-shrink: 0;
  flex-grow: 1;
  margin-top: -20%;
}

.d-about__text {
  max-width: 45%;
}

.d-about__text--h1 {
  text-align: center;
  color: #3f3f3f;
}

.d-about__sections {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.d-about__section {
  text-align: center;
  max-width: 210px;
  margin: 0 50px;
}

@media only screen and (max-width: 983px) {
  .d-about__section {
    margin: 0 20px;
  }
}

.d-about__section--img {
  max-width: 80%;
  padding: 30px 0;
}

.d-about__section > img:nth-child(2) {
  margin-bottom: 20px;
}

.d-about__section--text {
  font-size: 13px;
}

.d-team {
  padding: 80px 40px;
  background-color: #fff;
}

.d-team__text--h1 {
  color: #3f3f3f;
}

.d-team__members {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 30px 150px;
  flex-basis: 20%;
}

.d-team__member {
  display: inline-block;
  flex: initial;
  flex-basis: 20%;
  margin: 0 10px;
}

.d-team__member--img {
  width: 100%;
}

.join--img {
  height: 215px;
  width: 215px;
}

.d-team__member--h2 {
  padding-bottom: 10px;
  color: #3f3f3f;
}

.d-team__member--h3 {
  padding-bottom: 10px;
}

.d-team__member--text {
  font-size: 13px;
}

.join--text {
  color: #54c5fc;
}

.d-join__btn {
  width: 80%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px;
  margin: 3% 10%;
  background-color: #f66269;
  border: #f66269;
  color: #fff;
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.d-join__btn:hover,
.d-join__btn:active {
  background-color: #2ab7fc;
  border: #2ab7fc;
  color: #fff;
  box-shadow: 0 5px 25px rgba(42, 183, 252, 0.68);
  transition: 0.5s;
}

/* =============================Work=========================== */

.d-work__SVG--right {
  width: 85%;
  float: right;
}

.d-work__hero {
  position: absolute;
  left: 35%;
  top: 15%;
  z-index: 5;
}

.d-work__hero--img {
  max-width: 75%;
}

.d-work {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 100px 0;
  flex-shrink: 0;
  flex-grow: 1;
  background: transparent;
}

.d-work__text {
  max-width: 45%;
}

.d-work__btn {
  min-width: 165px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px;
  margin-top: 35px;
  background-color: #f66269;
  border: #f66269;
  color: #fff;
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
  cursor: pointer;
  text-decoration: none;
  font-family: "AvenirNextCyr-Light";
  font-size: 12px;
  position: absolute;
  text-align: center;
  left: 0;
  z-index: 10 !important;
  -webkit-appearance: none;
  outline: none;
}

.d-work__btn:hover,
.d-work__btn:active {
  background-color: #2ab7fc;
  border: #2ab7fc;
  color: #fff;
  box-shadow: 0 5px 25px rgba(42, 183, 252, 0.68);
  transition: 0.5s;
}

.d-work__text--h3 {
  text-align: center;
  font-size: 22px;
  font-family: "AvenirNextCyr-Medium";
  padding: 20px 0;
}

.d-work__sections {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 50px;
}

.d-work__section {
  margin: 0 20px;
  text-align: center;
  max-width: 210px;
}

.d-work__section--h3 {
  margin-right: 80px;
}
.work--tools {
  margin-top: 80px;
  margin-bottom: -190px;
}

.d-tool__sections {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.d-tool__section {
  margin: 0 10px;
  text-align: center;
  max-width: 310px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  width: 125px;
  height: 125px;
  vertical-align: middle;
  text-align: center;
}

.mysql {
  box-shadow: 0 20px 27px rgba(227, 127, 0, 0.14);
}

.php {
  box-shadow: 0 20px 27px rgba(102, 113, 158, 0.14);
}

.golang {
  box-shadow: 0 20px 27px rgba(11, 148, 194, 0.14);
}

.d-tool__section--img {
  max-width: 65%;
}

.small-margin__tools {
  margin-top: 10px;
}

.medium-margin__tools {
  margin-top: 20px;
}

.big-margin__tools {
  margin-top: 35px;
}

.m-portfolio {
  display: none;
}

.d-portfolio {
  padding: 80px 40px;
  background-color: #fff;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-portfolio__text--h1 {
  color: #3f3f3f;
  margin-top: 100px;
}

.d-projects {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 235px;
}
@media only screen and (max-width: 1250px) {
  .d-projects {
    margin: 30px 135px;
  }
}

@media only screen and (max-width: 769px) {
  .d-projects {
    margin: 30px 35px;
  }
}
.d-projects > div {
  width: calc(100% * (1 / 2) - 2px - 1px);
}

@media only screen and (max-width: 800px) {
  .d-projects > div {
    width: 100%;
  }
}

.d-project {
  margin-bottom: 5px;
  height: 300px;
  width: 350px;
  max-height: 800px;
  max-width: 900px;
  background-size: fill !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px;
}

.d-project:hover,
.d-project:active {
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
}

.d-project__h3 {
  display: inline-block;
  padding: 10px 0;
  color: #69c7c6;
}

.d-project__p {
  display: inline-block !important;
}

.work-1 {
  background-image: url("../assets/ourwedding-work.png");
}

.work-2 {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 5px 15px rgba(105, 199, 198, 0.56);
}

.work-3 {
  background-image: url("../assets/football-work.png");
}
.work-4 {
  background-image: url("../assets/ourwedding-work.png");
}

@media only screen and (max-width: 1300px) {
  .work-2 {
    padding: 25px;
  }
}

.m-clients {
  display: none;
}

.d-clients {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 100px 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.d-client {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 50px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 55%;
  margin-bottom: 20px;
}

.d-client__profile {
  padding-right: 25px;
  border-right: 1px solid rgba(211, 211, 211, 0.34);
}

.d-client__img {
  width: 150px;
  margin-bottom: 40px;
}

.d-client__text {
  padding-left: 25px;
}

.d-client__btn {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 12px 20px;
  background-color: #f66269;
  border: #f66269;
  color: #fff;
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
  cursor: pointer;
  text-decoration: none;
  font-family: "AvenirNextCyr-Light";
  font-size: 12px;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
}

.d-client__btn:hover,
.d-client__btn:active {
  background-color: #2ab7fc;
  border: #2ab7fc;
  color: #fff;
  box-shadow: 0 5px 25px rgba(42, 183, 252, 0.68);
  transition: 0.5s;
}

.addclient__btn {
  font-family: "AvenirNextCyr-Light";
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  -webkit-appearance: none;
}

/* =============================Contact=========================== */

.d-contact__container {
  margin: 150px 0 0 250px;
}
.d-contact__h2 {
  font-family: "Mont-Heavy";
  color: #fff;
}

.d-chatbox__img {
  margin-top: 20px;
  width: 70%;
  margin-bottom: 0;
}

.chat-container {
  width: 70%;
  background: #fff;
  border-radius: 5px;
  font: 14px/20px;
  padding: 40px 0;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
}

.chat {
  width: 100%;
}

.chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 320px;
  font-size: 14px;
  font-family: "AvenirNextCyr-Light";
}
.chat-history > ul {
  list-style-type: none;
}
.message-data {
  margin-bottom: 15px;
}

.message-data-time {
  color: gray;
  padding-left: 6px;
}

.message {
  color: #7e7e7e;
  padding: 10px 20px;
  line-height: 26px;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 30px;
  max-width: 70%;
  position: relative;
  font-size: 14px;
  font-family: "AvenirNextCyr-Light";
}

.my-message {
  background: rgba(109, 207, 246, 0.51);
}
.my-message::after {
  border-bottom-color: #f1f1f1;
  left: 93%;
}

.other-message {
  background: #f1f1f1;
}
.other-message:after {
  border-bottom-color: #f1f1f1;
  left: 93%;
}

.message-data-photo > img {
  width: 40px;
}

.chat-message {
  padding: 30px;
  background: #fafafa;
  margin-bottom: -40px;
}

.chat-message > textarea {
  background: #fafafa;
  width: 80%;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  font-family: "AvenirNextCyr-Light";
}

.message--btn__send {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 15px;
  background-color: #f66269;
  border: #f66269;
  color: #fff;
  box-shadow: 0 5px 15px rgba(246, 98, 105, 0.52);
  outline: none;
  font-size: medium;
}

.message--btn__send:hover,
.message--btn__send:active {
  background-color: #2ab7fc;
  border: #2ab7fc;
  color: #fff;
  box-shadow: 0 5px 25px rgba(42, 183, 252, 0.68);
  transition: 0.5s;
}

.contact-footer {
  margin-top: -40px;
}

.m-contact__container {
  display: none;
}
